# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment Variables & Secrets (IMPORTANT)
.env
backend/.env
frontend/.env
*.env.local

# Production Builds
build/
dist/
frontend/build/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
frontend_git_backup/
